body {
  background-color: lightgray;
}

header {
  margin: 0 auto;
}

.label-margin {
  margin-right: 20px;
}

.page {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.title {
  display: inline;
  margin: 0 auto;
  text-align: center;
}

.header-block {
  display: inline-block;
  padding: 5px 40px;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
}

.middle-border {
  border-right: 3px solid #000000;
}

.end-border-left {
  border-left: 2px solid #000000;
}

.end-border-right {
  border-right: 2px solid #000000;
}

.inline-text {
  display: inline-block;
}

.image-render {
  width: 100px;
  height: 100px;
}

.left-element {
  float: left;
}

.right-element {
  float: right;
}

.clear {
  clear: both;
}

.page-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.input-form {
  margin-bottom: 20px;
}

.half-page {
  width: 50%;
}

.background-grey {
  background-color: grey;
}

.link-margin {
  margin: 20px 20px;
}

@media screen and (max-width: 800px) {
  .page {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .page {
    width: 100%;
  }
  .title {
    display: none;
  }
  .header-block {
    display: none;
  }
  .inline-text {
    display: none;
  }
  button {
    padding: 10px;
  }
  table {
    display: none;
  }
}
